
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
    <header>
      <a href="/"><img src="img/heading.png" width="100" height="60" ></a> 
        
        <nav>
            <ul class="navbar">
                <li><a href="/login"class="navr">Login </a></li>
                <li><a href="/cusRegistration"class="navr">Sign Up</a></li>
                <li><a href="/products"class="navr">Product</a></li>
                <li><a href="/"class="navr">Home</a></li>
                <li><a href="/login" class="navl">Hello, Sign in</a></li>
            </ul>
        </nav>    
    </header> 

    <main>
        
            {{{body}}}
       
    </main>

    <footer>
            <div id="footer">
    <div class="menuFooter">
            <p class="footer-title">Social Media Links</p>
            <ul class="footer-link">
            <li class="footer-li"><a class="footer-link" href="https://www.facebook.com/">facebook</a></li>
            <li><a class="footer-link" href="https://www.whatsapp.com/">whatsapp</a></li>
            </ul></div>
    <div class="menuFooter">
            <p class="footer-title">About Us</p>
            <ul class="footer-link">
            <li><a class="footer-link" href="/">amazon</a></li>
            </ul></div>
   <div class="menuFooter">
            <p class="footer-title">Menu Items</p>
            <ul class="footer-link">
            <li><a class="footer-link" href="/products">products</a></li>
            <li><a class="footer-link" href="/login">login</a></li>
            <li><a class="footer-link" href="/cusRegistration">regisiter</a></li>
            </ul></div>
  
</div>


 <center>
<div class="navFooterb">
<a href="/" class="fnav">Conditions of Use</a>
<a href="/" class="fnav">Privacy Notice</a>
<a href="/" class="fnav">Interest-Based Ads</a>
</div>
</center>

<center>
    <span class="property">© 2020  &nbsp; Chaofan Huang &nbsp; 154497184 &nbsp;  chuang82@mysenecacollege.ca</span> 
    <span>
      <center>
         <a href="/">
         <img src="img/footer.png" alt="amazon" width="100" height="40" >
         </a> 
      </center>
    </span>
</center>
</footer>
</body>
</html>