   <div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form class="reg" method="POST" action="#" role="form">
						<img src="img/transparent.jpg" width="100" height="75" >
						<div class="form-reg">
							<h2 class="form-titles">Sign in</h2>
						</div>
                        <br>
						<div class="form-group">
							<strong><label class="control-label"for="Email or mobile phone number" >Email or mobile phone number</label></strong>
							<input id="signinEmail" type="email" maxlength="50" class="form-control">
						</div>
                        <br>
						<div class="form-group">
							<strong><label class="control-label"for="password">Password</label></strong><br>
							<span class="right"><a href="#">Need help?</a></span>
							<input id="signinPassword" type="password" maxlength="25" class="form-control"
                                placeholder="At least 6 characters" required> 
                                <p class="detailreq">Password must consist of at least 6 characters</p>
                                
						</div>
						<div class="form-group" style="padding-top: 12px;">
							<button id="signinSubmit" type="submit" class="btn btn-success btn-block">Sign in</button>
						</div>
                        <br>
						
						<hr>
                 		<center><p>New to Amazon?</p></center>
                       <center><button id="signinSubmit" type="submit" class="btn btn-success btn-block">Create your account</button></center>
						<!-- <p class="form-group"><a href="/cusRegistration" class="btn btn-info btn-block">Create your account</a></p>-->
		
					</form>
				</div>
			</div>
		</div>
	</div>
<br><br><br>