<div>
    <div>
        <h2>Thanks for signing up with us.</h2><br>
        <p>Please follow this link to fill out your profile 
        <a href="/cusRegistration">Cusomter Information</a>
        </p>
    </div>
    <div>
        <p>Please don't hesitatio to contact us with your feedback.</p>
        <br>
        <p>Amazon</p>
        <p><a href="/">chuang82@myseneca.ca</a></p>
    </div>
</div>