
<div>
    <div>
        <h2>Welcome Adminstrator :{{user.signupName}}</h2>
        <h4>Email to {{user.signupName}} - {{user.email}}</h4>
        
    </div>
    <div>
        <ul><center><h2 class="favorite">Shop Your Favorites</h2></center></ul>
        <br>
        <ul class="logsub">
             <li><a class="loginsub" href="/product">Please navigate yourself to other links</a></li>  
              
        </ul>
        <p class="dashfooter">Amazon<br>
        <a href="/">chuang82@myseneca.ca</a></p>
    </div>
</div>
