<div>
    <div>
        <h2>Welcome Clerk :{{user.signupName}}</h2>
        <h4>Email to {{user.signupName}} - {{user.email}}</h4>
        
    </div>
    <div>
        <br>
        <ul class="logsub">
             <li><a class="loginsub" href="/product/add">Please add and eidt the products</a></li>  
            
              
        </ul>
        <p class="dashfooter">Amazon<br>
        <a href="/">chuang82@myseneca.ca</a></p>
    </div>
</div>