<div>
    <div>
        <h2>Welcome {{user.signupName}}</h2>
        <h4>Email to {{user.signupName}} - {{user.email}}</h4>
        
    </div>
    <div>
        <ul><center><h2 class="favorite">Shop Your Favorites</h2></center></ul>
        <br>
        <ul class="logsub">
             <li><a class="loginsub" href="/product">New For You</a></li>  
              <li><a class="loginsub" href="/product">Recommended For You</a></li>
              <li><a class="loginsub" href="/product">Just Arrived</a></li>
        </ul>
        <p class="dashfooter">Amazon<br>
        <a href="/">chuang82@myseneca.ca</a></p>
    </div>
</div>

